/* global styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background: #f4f6f8;
}

h1 {
  font-size: 28px;
  line-height: 26px;
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

.btn-purple {
  background-color: #5964e0;
  border: none;
  border-radius: 5px;
  color: #fff;
}
/* header */

.header {
  background-color: #5964e0;
  color: #fff;
  position: relative;
  background-image: url(assets/images/triangle-1.svg),
    url(assets/images/triangle-2.svg);
  background-repeat: no-repeat;
  background-position: bottom left, top right;
}

.header-inner {
  display: flex;
  padding: 32px 24px 72px;
  align-items: center;
  justify-content: space-between;
}

.light-toggle {
  display: flex;
}

.light-toggle input {
  margin: 0 16px;
  border-radius: 12px;
  width: 48px;
  height: 24px;
  background-color: #fff;
}

.search-form {
  position: absolute;
  z-index: 11;
  margin: 0 24px;
  top: 96px;
  left: 0;
  right: 0;
}

.search-form-small {
  display: block;
}

.search-form-big {
  display: none;
}


.search-form input {
  width: 100%;
  position: relative;
  height: 80px;
  border-radius: 6px;
  border: none;
  padding-left: 24px;
  font-size: 16px;
}

.search-form .form-controls {
  position: absolute;
  top: 50px;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.filter-button {
  background: none;
  border: none;
  margin-right: 24px;
}

.search-button {
  padding: 14px;
}

.search-button img {
  display: block;
}

.search-form input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search-form input[type="search"]:focus {
  outline: none !important;
}

/* content */

.jobs-list {
  margin: 97px 24px 0;
  display: flex;
  flex-direction: column;
}

.job-card-holder {
  display: block;
  background-color: #fff;
  position: relative;
  padding: 0 32px 32px;
}

.job-card-holder img {
  position: absolute;
  top: -25px;
}

.job-card-holder:active {
  color: inherit;
}

.job-card-holder span {
  color: #6e8098;
  font-size: 16px;
  display: inline-block;
}

.job-card-info {
  padding-top: 49px;
}

.post-date::after {
  content: "";
  margin: 0 10px;
  width: 4px;
  height: 4px;
  display: inline-block;
  background-color: #6e8098;
}

.job-card-title {
  margin: 13px 0 17px;
  color: #19202d;
}

.job-card-location {
  display: block !important;
  font-size: 14px !important;
  color: #5964e0 !important;
  margin-top: 44px;
  font-weight: 700;
}

.job-card {
  margin-top: 49px;
}

.job-card:first-child {
  margin: 0;
}

.load-more-btn {
  font-size: 16px;
  padding: 16px 30px;
  margin: 32px auto 62px;
  width: 141px;
  display: block;
  font-weight: bold;
}


/* tablet */

@media (min-width: 768px){

  .header {
    border-bottom-left-radius: 90px;
    background-image: url(assets/images/triangle-1.svg),
        url(assets/images/triangle-2-tablet.svg);
    background-repeat: no-repeat;
    background-position: bottom left, top center;
  }

  .search-form {
    margin: 0 40px;
  }

  .jobs-list {
    flex-direction: row;
    margin: 110px 41px 0;
    flex-wrap: wrap;
    gap: 65px 10px;
  }

  .job-card {
    flex: 0 0 calc(50% - 10px);
    margin-top: 0;
  }

  .search-form-small {
    display: none;
  }

  .search-form-big {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-filter-holder, .location-filter-holder{
      position: relative;
  }

  .filter-by-title, .filter-by-location{
      border-top-right-radius: 0!important;
      border-bottom-right-radius: 0!important;
      padding: 31px 53px 31px 64px!important;
  } 

  .filter-by-location {
      border-radius: 0!important;
      border-left: solid rgba(110, 128, 152, 0.2) 1px!important;
      border-right: solid rgba(110, 128, 152, 0.2) 1px!important;  
    }

  .search-form-big img {
    display: block;
    position: absolute;
    top: 28px;
    left: 24px;
    z-index: 10;
  }

  .full-time-filter-holder {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 252px;
    height: 80px;
    padding: 16px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .full-time-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .full-time-checkbox {
    width: 24px!important;
    height: 24px!important;
    border: none!important;
  }

  .full-time-checkmark {
    font-weight: 700;
    display: block;
    margin-left: 16px;
    font-size: 16px;
    color: #19202D;
  }

  .search-button-big {
    margin-left: 28px;
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
  }

}